body{
  margin: 0px;
  padding: 0px;
}
.flex-container{
  display: flex;
}
#appname{
  color: aliceblue;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 88px;
  text-align: center;
  position: relative;
  top: 45%;
  left: 0%;
}
#namebox{
  width: 40%;
  height: 100vh;
  background-color: #000000;
}
#formbox{
  background-color: whitesmoke;
  width: 60%;
  margin-right: 0%;
}
h1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
}
h2{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
#loginf{
  /* border: 2px solid red; */
  border-radius: 10px;
  position: relative;
  top: 10%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;

}
.lop{
  background-color: #FFFFFF;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  border: black 2px transparent;
  margin-right: 20px;
  padding: 0px 20px 10px 10px ;
}
#gl{
  margin-right: 20px;
}
#sp{
  position: relative;
  top: -27px;
  left: 30px;
}
.icon{
  height: 20px;
  width: 20px;
  position: relative;
  top: 10px;
  left: 0px;
}
#lform{
  background-color: #FFFFFF;
  border-radius: 20px;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 20px;
}
.ibox{
  border-radius: 10px;
  background-color: rgb(197, 196, 196);
  border: transparent;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
label{
  margin-left: 5px;
}
#signIn{
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  border: transparent;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  margin-right:70px;
  margin-top: 10px;
  margin-bottom: 20px
}
#signIn:hover{
  cursor: pointer;
}
a{
  text-decoration: none;
  margin-left: 5px;
  color: rgb(30, 104, 239);
  font-size: 16px;
}

